ICPs/ICP4/icp4.3.json
[{"id":"1f864a92.d63ef5","type":"inject","z":"bd63b10a.bbc6f","name":"timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["4457761c.061cf8"]]},{"id":"190f72e6.a1e11d","type":"debug","z":"bd63b10a.bbc6f","name":"debug output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":120,"wires":[]},{"id":"43a20031.1c25","type":"function","z":"bd63b10a.bbc6f","name":"Tweet Message Builder","func":"//var date = new Date(msg.payload);\nmsg.payload = \"#\" + msg.payload.location + \" \" + msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":120,"wires":[["190f72e6.a1e11d","5700c342.a6dedc"]]},{"id":"4457761c.061cf8","type":"openweathermap","z":"bd63b10a.bbc6f","name":"Open Weather","wtype":"current","lon":"","lat":"","city":"Parkville","country":"Missouri","language":"en","x":320,"y":60,"wires":[["43a20031.1c25"]]},{"id":"5700c342.a6dedc","type":"twitter out","z":"bd63b10a.bbc6f","twitter":"","name":"Tweet","x":370,"y":160,"wires":[]}]