ICPs/ICP5/Part2Flow.txt
[
    {
        "id": "4ba79e89.d2123",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18c4eb7c.34c775",
        "type": "inject",
        "z": "4ba79e89.d2123",
        "name": "Get Weather",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "f00d5c1f.33dbe"
            ]
        ]
    },
    {
        "id": "14810fb7.e3221",
        "type": "openweathermap",
        "z": "4ba79e89.d2123",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Parkville",
        "country": "Missouri",
        "language": "en",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "ea8345ef.d818d8",
                "35a5a04a.acfce",
                "d46d8207.6c7dd",
                "5020f7e9.d3ae68"
            ]
        ]
    },
    {
        "id": "f00d5c1f.33dbe",
        "type": "rbe",
        "z": "4ba79e89.d2123",
        "name": "Rate Limiter",
        "func": "deadband",
        "gap": "10000",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "14810fb7.e3221"
            ]
        ]
    },
    {
        "id": "ea8345ef.d818d8",
        "type": "debug",
        "z": "4ba79e89.d2123",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "35a5a04a.acfce",
        "type": "switch",
        "z": "4ba79e89.d2123",
        "name": "Humidity",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "80",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 380,
        "y": 140,
        "wires": [
            [
                "6a9e0152.1472a"
            ]
        ]
    },
    {
        "id": "d46d8207.6c7dd",
        "type": "switch",
        "z": "4ba79e89.d2123",
        "name": "Cold",
        "property": "payload.tempc",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "f0a1f435.80a7e8"
            ]
        ]
    },
    {
        "id": "3eb9ed00.9f4d64",
        "type": "file",
        "z": "4ba79e89.d2123",
        "name": "Weather Raw Data Saver",
        "filename": "C:\\Users\\mjw3\\Documents\\Weather.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "ca6e5bb0.92ecb8",
        "type": "websocket out",
        "z": "4ba79e89.d2123",
        "name": "",
        "server": "168a1f93.a3fae",
        "client": "",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "216c46d3.c041ba",
        "type": "websocket in",
        "z": "4ba79e89.d2123",
        "name": "",
        "server": "168a1f93.a3fae",
        "client": "",
        "x": 510,
        "y": 360,
        "wires": [
            [
                "b5101397.04be9"
            ]
        ]
    },
    {
        "id": "f0a1f435.80a7e8",
        "type": "function",
        "z": "4ba79e89.d2123",
        "name": "Message for Cold",
        "func": "msg.payload = \"Damn it's cold, it's: \" + msg.payload.tempc + \"degrees celsius.\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "ca6e5bb0.92ecb8"
            ]
        ]
    },
    {
        "id": "b5101397.04be9",
        "type": "debug",
        "z": "4ba79e89.d2123",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 600,
        "y": 420,
        "wires": []
    },
    {
        "id": "6a9e0152.1472a",
        "type": "change",
        "z": "4ba79e89.d2123",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 160,
        "wires": [
            [
                "718d567b.d61ba8"
            ]
        ]
    },
    {
        "id": "847290d2.6ba6",
        "type": "file in",
        "z": "4ba79e89.d2123",
        "name": "",
        "filename": "C:\\Users\\mjw3\\Documents\\Weather.txt",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "7c9bf8f5.ae3708"
            ]
        ]
    },
    {
        "id": "924f6621.cb2998",
        "type": "http in",
        "z": "4ba79e89.d2123",
        "name": "",
        "url": "/weather",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "847290d2.6ba6"
            ]
        ]
    },
    {
        "id": "7c9bf8f5.ae3708",
        "type": "template",
        "z": "4ba79e89.d2123",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<HTML>\n    <BODY>\n        {{payload}}\n    </BODY>\n</HTML>",
        "output": "str",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "821b7057.5c1ce"
            ]
        ]
    },
    {
        "id": "821b7057.5c1ce",
        "type": "http response",
        "z": "4ba79e89.d2123",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/html"
        },
        "x": 230,
        "y": 440,
        "wires": []
    },
    {
        "id": "5020f7e9.d3ae68",
        "type": "function",
        "z": "4ba79e89.d2123",
        "name": "Just Description",
        "func": "msg.payload = msg.payload.description;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3eb9ed00.9f4d64"
            ]
        ]
    },
    {
        "id": "718d567b.d61ba8",
        "type": "debug",
        "z": "4ba79e89.d2123",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "168a1f93.a3fae",
        "type": "websocket-listener",
        "z": "",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    }
]