ICPs/ICP5/Part1Flow.txt
[
    {
        "id": "ddff7114.50234",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "10f12d19.6c57f3",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "SWITCH DEMO",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 40,
        "wires": [
            [
                "6a33b2da.36bcfc"
            ]
        ]
    },
    {
        "id": "3c3b4e7e.84edc2",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "Node 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "75edbeb8.8234d",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "Node 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 300,
        "y": 220,
        "wires": []
    },
    {
        "id": "d92fe922.194a48",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "Node 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 280,
        "y": 280,
        "wires": []
    },
    {
        "id": "dfcc20e6.3c762",
        "type": "switch",
        "z": "ddff7114.50234",
        "name": "Switch",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "250",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "250",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "3c3b4e7e.84edc2"
            ],
            [
                "75edbeb8.8234d"
            ],
            [
                "d92fe922.194a48"
            ]
        ]
    },
    {
        "id": "6a33b2da.36bcfc",
        "type": "function",
        "z": "ddff7114.50234",
        "name": "RNG",
        "func": "msg.payload = Math.random() * 500;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 290,
        "y": 40,
        "wires": [
            [
                "dfcc20e6.3c762"
            ]
        ]
    },
    {
        "id": "12392d79.e74c63",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 340,
        "wires": [
            [
                "7b44de1.d6c652"
            ]
        ]
    },
    {
        "id": "7b44de1.d6c652",
        "type": "change",
        "z": "ddff7114.50234",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "This message has been changed",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 340,
        "wires": [
            [
                "c67a4ba8.27c9a8"
            ]
        ]
    },
    {
        "id": "c67a4ba8.27c9a8",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2a24c44.e50f",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "300",
        "topic": "",
        "payload": "300",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 460,
        "wires": [
            [
                "cb592dd3.b3871"
            ]
        ]
    },
    {
        "id": "cc985e51.8755b",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "512",
        "topic": "",
        "payload": "512",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 520,
        "wires": [
            [
                "cb592dd3.b3871"
            ]
        ]
    },
    {
        "id": "a99847af.9b3cd8",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "1023",
        "topic": "",
        "payload": "1023",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 580,
        "wires": [
            [
                "cb592dd3.b3871"
            ]
        ]
    },
    {
        "id": "cb592dd3.b3871",
        "type": "range",
        "z": "ddff7114.50234",
        "minin": "0",
        "maxin": "1500",
        "minout": "0",
        "maxout": "10",
        "action": "roll",
        "round": true,
        "property": "payload",
        "name": "0-10",
        "x": 250,
        "y": 520,
        "wires": [
            [
                "8272f77f.473478"
            ]
        ]
    },
    {
        "id": "8272f77f.473478",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 520,
        "wires": []
    },
    {
        "id": "d0153153.4aaf6",
        "type": "rbe",
        "z": "ddff7114.50234",
        "name": "",
        "func": "deadbandEq",
        "gap": "3000",
        "start": "",
        "inout": "out",
        "property": "payload",
        "x": 260,
        "y": 660,
        "wires": [
            [
                "9e390be4.f3a268"
            ]
        ]
    },
    {
        "id": "9b78005d.28551",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 680,
        "wires": [
            [
                "d0153153.4aaf6"
            ]
        ]
    },
    {
        "id": "9e390be4.f3a268",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 480,
        "y": 680,
        "wires": []
    },
    {
        "id": "43a3d7cd.b7d1d8",
        "type": "http in",
        "z": "ddff7114.50234",
        "name": "",
        "url": "/HELLO",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 800,
        "wires": [
            [
                "da2fa5ed.dc8bc8"
            ]
        ]
    },
    {
        "id": "da2fa5ed.dc8bc8",
        "type": "template",
        "z": "ddff7114.50234",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <body>\n        HELLO WORLD    \n    </body>\n</html>",
        "output": "str",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "253bd97a.4a9376"
            ]
        ]
    },
    {
        "id": "253bd97a.4a9376",
        "type": "http response",
        "z": "ddff7114.50234",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "text/html"
        },
        "x": 500,
        "y": 800,
        "wires": []
    },
    {
        "id": "fea6ed89.85ce1",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 960,
        "wires": [
            [
                "e607a459.9d2db8"
            ]
        ]
    },
    {
        "id": "e607a459.9d2db8",
        "type": "file",
        "z": "ddff7114.50234",
        "name": "txt saver",
        "filename": "C:\\Users\\mjw3\\Documents\\ICP.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "x": 350,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "24e950ff.15e32",
        "type": "websocket out",
        "z": "ddff7114.50234",
        "name": "",
        "server": "168a1f93.a3fae",
        "client": "",
        "x": 370,
        "y": 1060,
        "wires": []
    },
    {
        "id": "75e0d9da.7f14f8",
        "type": "websocket in",
        "z": "ddff7114.50234",
        "name": "Listener",
        "server": "168a1f93.a3fae",
        "client": "",
        "x": 110,
        "y": 1160,
        "wires": [
            [
                "9c5ba2e2.6ed57"
            ]
        ]
    },
    {
        "id": "9c5ba2e2.6ed57",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 300,
        "y": 1180,
        "wires": []
    },
    {
        "id": "2cd42dfc.8e97c2",
        "type": "inject",
        "z": "ddff7114.50234",
        "name": "sender",
        "topic": "",
        "payload": "This is a websocket string",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 90,
        "y": 1080,
        "wires": [
            [
                "24e950ff.15e32"
            ]
        ]
    },
    {
        "id": "e761345d.80feb8",
        "type": "mqtt in",
        "z": "ddff7114.50234",
        "name": "Receiver",
        "topic": "",
        "qos": "2",
        "broker": "14adfc5c.2c66d4",
        "x": 100,
        "y": 1280,
        "wires": [
            [
                "5b37a66.9ca1458"
            ]
        ]
    },
    {
        "id": "5b37a66.9ca1458",
        "type": "debug",
        "z": "ddff7114.50234",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 460,
        "y": 1280,
        "wires": []
    },
    {
        "id": "168a1f93.a3fae",
        "type": "websocket-listener",
        "z": "",
        "path": "wss://echo.websocket.org",
        "wholemsg": "false"
    },
    {
        "id": "14adfc5c.2c66d4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]